App_WebReferences/net/mercanyazilim/LisansSorgulama.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="_fncLisansSorgulamaData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_fncLisansSorgulamaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_fncLisansSorgulamaDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_fncLisansSorgulama">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_fncLisansSorgulamaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_fncLisansSorgulamaResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_fncLisanslar">
        <s:complexType />
      </s:element>
      <s:element name="_fncLisanslarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_fncLisanslarResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_fncLisansBitisTarihi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_fncLisansBitisTarihiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_fncLisansBitisTarihiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_fncLisansID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebAdres" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_fncLisansIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_fncLisansIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_fncHelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="_fncHelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_fncHelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SerialDataTable">
        <s:complexType />
      </s:element>
      <s:element name="SerialDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SerialDataTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HarfSayisi">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HarfSayisiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HarfSayisiResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="_fncDuyurular">
        <s:complexType />
      </s:element>
      <s:element name="_fncDuyurularResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_fncDuyurularResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="_fncLisansSorgulamaDataSoapIn">
    <wsdl:part name="parameters" element="tns:_fncLisansSorgulamaData" />
  </wsdl:message>
  <wsdl:message name="_fncLisansSorgulamaDataSoapOut">
    <wsdl:part name="parameters" element="tns:_fncLisansSorgulamaDataResponse" />
  </wsdl:message>
  <wsdl:message name="_fncLisansSorgulamaSoapIn">
    <wsdl:part name="parameters" element="tns:_fncLisansSorgulama" />
  </wsdl:message>
  <wsdl:message name="_fncLisansSorgulamaSoapOut">
    <wsdl:part name="parameters" element="tns:_fncLisansSorgulamaResponse" />
  </wsdl:message>
  <wsdl:message name="_fncLisanslarSoapIn">
    <wsdl:part name="parameters" element="tns:_fncLisanslar" />
  </wsdl:message>
  <wsdl:message name="_fncLisanslarSoapOut">
    <wsdl:part name="parameters" element="tns:_fncLisanslarResponse" />
  </wsdl:message>
  <wsdl:message name="_fncLisansBitisTarihiSoapIn">
    <wsdl:part name="parameters" element="tns:_fncLisansBitisTarihi" />
  </wsdl:message>
  <wsdl:message name="_fncLisansBitisTarihiSoapOut">
    <wsdl:part name="parameters" element="tns:_fncLisansBitisTarihiResponse" />
  </wsdl:message>
  <wsdl:message name="_fncLisansIDSoapIn">
    <wsdl:part name="parameters" element="tns:_fncLisansID" />
  </wsdl:message>
  <wsdl:message name="_fncLisansIDSoapOut">
    <wsdl:part name="parameters" element="tns:_fncLisansIDResponse" />
  </wsdl:message>
  <wsdl:message name="_fncHelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:_fncHelloWorld" />
  </wsdl:message>
  <wsdl:message name="_fncHelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:_fncHelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SerialDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:SerialDataTable" />
  </wsdl:message>
  <wsdl:message name="SerialDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:SerialDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="HarfSayisiSoapIn">
    <wsdl:part name="parameters" element="tns:HarfSayisi" />
  </wsdl:message>
  <wsdl:message name="HarfSayisiSoapOut">
    <wsdl:part name="parameters" element="tns:HarfSayisiResponse" />
  </wsdl:message>
  <wsdl:message name="_fncDuyurularSoapIn">
    <wsdl:part name="parameters" element="tns:_fncDuyurular" />
  </wsdl:message>
  <wsdl:message name="_fncDuyurularSoapOut">
    <wsdl:part name="parameters" element="tns:_fncDuyurularResponse" />
  </wsdl:message>
  <wsdl:portType name="LisansSorgulamaSoap">
    <wsdl:operation name="_fncLisansSorgulamaData">
      <wsdl:input message="tns:_fncLisansSorgulamaDataSoapIn" />
      <wsdl:output message="tns:_fncLisansSorgulamaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_fncLisansSorgulama">
      <wsdl:input message="tns:_fncLisansSorgulamaSoapIn" />
      <wsdl:output message="tns:_fncLisansSorgulamaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_fncLisanslar">
      <wsdl:input message="tns:_fncLisanslarSoapIn" />
      <wsdl:output message="tns:_fncLisanslarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_fncLisansBitisTarihi">
      <wsdl:input message="tns:_fncLisansBitisTarihiSoapIn" />
      <wsdl:output message="tns:_fncLisansBitisTarihiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_fncLisansID">
      <wsdl:input message="tns:_fncLisansIDSoapIn" />
      <wsdl:output message="tns:_fncLisansIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_fncHelloWorld">
      <wsdl:input message="tns:_fncHelloWorldSoapIn" />
      <wsdl:output message="tns:_fncHelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SerialDataTable">
      <wsdl:input message="tns:SerialDataTableSoapIn" />
      <wsdl:output message="tns:SerialDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HarfSayisi">
      <wsdl:input message="tns:HarfSayisiSoapIn" />
      <wsdl:output message="tns:HarfSayisiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="_fncDuyurular">
      <wsdl:input message="tns:_fncDuyurularSoapIn" />
      <wsdl:output message="tns:_fncDuyurularSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LisansSorgulamaSoap" type="tns:LisansSorgulamaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_fncLisansSorgulamaData">
      <soap:operation soapAction="http://tempuri.org/_fncLisansSorgulamaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncLisansSorgulama">
      <soap:operation soapAction="http://tempuri.org/_fncLisansSorgulama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncLisanslar">
      <soap:operation soapAction="http://tempuri.org/_fncLisanslar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncLisansBitisTarihi">
      <soap:operation soapAction="http://tempuri.org/_fncLisansBitisTarihi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncLisansID">
      <soap:operation soapAction="http://tempuri.org/_fncLisansID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncHelloWorld">
      <soap:operation soapAction="http://tempuri.org/_fncHelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerialDataTable">
      <soap:operation soapAction="http://tempuri.org/SerialDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HarfSayisi">
      <soap:operation soapAction="http://tempuri.org/HarfSayisi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncDuyurular">
      <soap:operation soapAction="http://tempuri.org/_fncDuyurular" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LisansSorgulamaSoap12" type="tns:LisansSorgulamaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="_fncLisansSorgulamaData">
      <soap12:operation soapAction="http://tempuri.org/_fncLisansSorgulamaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncLisansSorgulama">
      <soap12:operation soapAction="http://tempuri.org/_fncLisansSorgulama" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncLisanslar">
      <soap12:operation soapAction="http://tempuri.org/_fncLisanslar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncLisansBitisTarihi">
      <soap12:operation soapAction="http://tempuri.org/_fncLisansBitisTarihi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncLisansID">
      <soap12:operation soapAction="http://tempuri.org/_fncLisansID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncHelloWorld">
      <soap12:operation soapAction="http://tempuri.org/_fncHelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SerialDataTable">
      <soap12:operation soapAction="http://tempuri.org/SerialDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HarfSayisi">
      <soap12:operation soapAction="http://tempuri.org/HarfSayisi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="_fncDuyurular">
      <soap12:operation soapAction="http://tempuri.org/_fncDuyurular" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LisansSorgulama">
    <wsdl:port name="LisansSorgulamaSoap" binding="tns:LisansSorgulamaSoap">
      <soap:address location="http://mercanyazilim.net/LisansSorgulama.asmx" />
    </wsdl:port>
    <wsdl:port name="LisansSorgulamaSoap12" binding="tns:LisansSorgulamaSoap12">
      <soap12:address location="http://mercanyazilim.net/LisansSorgulama.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>